# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Python notebook checkpoints
.ipynb_checkpoints/

# User uploads and generated outputs
uploads/
runs/
.local_config/

# Local databases and backups
database.db
database_backup_*.db

# Model weights and datasets
*.pt
*.rar
dataset/

# IDE settings
.idea/
.vscode/

# Logs
*.log
